html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #f2e4e4;
    background: linear-gradient(150deg, rgba(255, 220, 220, 1) 0%, rgba(255, 185, 185, 1) 30%, rgba(255, 150, 150, 1) 60%, rgba(255, 110, 110, 1) 100%);
}